#title
{
  background-color: #ff4c68;
  color: white;
}

body
{
  font-family: 'Montserrat';
}

h1
{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid
{
  padding: 3% 15% 6%;
}

.navbar
{
  padding-bottom: 4.5rem;
}

.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.2rem;
}

.navbar-brand
{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.download-button
{
  margin: 5% 3% 5% 0;
}

.title-image
{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

#features
{
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-h3
{
  font-size: 1.5rem;
  font-weight: 600;
}

.row p
{
  color: #8f8f8f;
}

.col-lg-4
{
  text-align: center;
  padding: 5%;
}

.fea
{
  font-size: 3rem;
  color: #ef8172;
}

.fea:hover
{
  color: #ff4c68;
}




.carousel-item
{
  padding: 7% 15%;
  text-align: center;
  color: white;
  background-color: #ef8172;
}

.testimonial-text
{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3rem;
}

.testimonial-image
{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press
{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image
{
  width: 15%;
  padding: 20px 20px 50px;
}

#pricing
{
  padding: 100px;
  text-align: center;
}

.pricing-header
{
  font-weight: 600;
  font-size: 2.5rem;
}




@media (max-width: 1028px)
{
  #title
  {
    text-align: center;
  }
  .title-image
  {
    width: 40%;
    position: static;
    transform: rotate(0);
  }
}



#cta
{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

#cta h3
{
  color: white;
  font-weight: 900;
  font-size: 3rem;
  padding: 7% 5%;
}

.cta-button
{
  margin-left: 20px;
}

#footer
{
  padding: 4%;
}

#footer p
{
  text-align: center;
}

.foot
{
  padding: 10px;

}
